---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<geocode_api_key>&query=Qweporiuqwpoeruqpweiru
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 66526009-d5c7-4ab6-a60b-77b9e132c079
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24955'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '1.382'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 28 Dec 2022 07:10:47 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat=badrequest&limit=3&lon=badrequest&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 28 Dec 2022 07:10:47 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"177f8af5bdc780abe7407a9cae90efcd"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '73028'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '73028'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Wed, 28 Dec 2022 07:10:47 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=3&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-54c89576fb-r7ggm; site=public_api_v3
      X-Zipkin-Id:
      - 67467cc9a06a3fc5
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-102-251-uswest2aprod
      X-Extlb:
      - 10-69-102-251-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Wed, 28 Dec 2022 07:10:50 GMT
recorded_with: VCR 6.1.0
