---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<geocode_api_key>&query=badrequest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - d4d749b3-f7b0-4879-b67e-e211ab123410
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24960'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '1.747'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 28 Dec 2022 06:43:29 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=3&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-54c89576fb-lsrlr; site=public_api_v3
      X-Zipkin-Id:
      - e8e25d9386864d1d
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-131-202-uswest2bprod
      X-Extlb:
      - 10-69-131-202-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Wed, 28 Dec 2022 06:43:29 GMT
recorded_with: VCR 6.1.0
