---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<geocode_api_key>&query=badrequest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - ddc1e7d5-24d1-42e1-8c93-744e14d075d8
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24962'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '1.151'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 28 Dec 2022 06:43:24 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat=badrequest&limit=3&lon=badrequest&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 28 Dec 2022 06:43:25 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"177f8af5bdc780abe7407a9cae90efcd"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '74670'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '74670'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Wed, 28 Dec 2022 06:43:25 GMT
recorded_with: VCR 6.1.0
