---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<geocode_api_key>&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - a07c6a3a-8441-44fc-b432-9d85250dfc8b
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24963'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.127'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.740959,"longitude":-104.985798,"type":"locality","name":"Denver","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":"Denver","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver,
        CO, USA"},{"latitude":39.741107,"longitude":-104.98702,"type":"county","name":"Denver
        County","number":null,"postal_code":null,"street":null,"confidence":0.4,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":null,"administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver County,
        CO, USA"},{"latitude":39.19312,"longitude":-83.05574,"type":"local[...]
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat=39.740959&limit=3&lon=-104.985798&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 28 Dec 2022 06:43:23 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"12a6388f63c28566420174e7227e4b0d"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '74672'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '74672'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"684":{"name":"Apex Park","city":"Golden","state":"Colorado","country":"United
        States","description":"From the Heritage Square parking lot, take Apex trail
        west into Apex gulch. Take a right onto the first trail that branches off
        about a mile up. This is the Pick n'' Sledgetrail. Follow this for 0.9 miles
        until it branches with the Grubstakeloop. Take a right onto Grubstake and
        follow it as it winds aroundthe mountain and you start going south again.
        When you see the Sluiceboxtrail, take it down to Apex trail. Once back on
        Apex, take a rightand go up the gulch. Once you get to the Enchanted forest
        trailhead,you have 2 options. This point is the bottom of a loop, so you caneither
        keep going up Apex and decend the Enchanted Forest, or doit in reverse. Either
        way there are steep uphills and fun downhills.  Once you finish the loop,
        get back on Apex and decend to the parking lot.","directions":"From the I-25
        and 6th Ave. intersection in Denver, go west on 6th. As you get close to the
        foothills, you will drive under I-70.After the underpass, take your first
        left at the stoplight.You will be turning onto Hwy. 40. Drive on 40 for about
        a mile.  Pull into the Heritage Square parking lot on your right, and park
        on the north side next to the trailhead.","lat":"39.7165","lon":"-105.2092","parent_id":"0","place_id":"684","activities":{"mountain
        biking":{"url":"http:\/\/www.singletracks.com\/item.php?c=1&i=3","length":"8","description":"From
        the Heritage Square parking lot, take Apex trail west into Apex gulch. Take
        a right onto the first trail that branches off about a mile up. This is the
        Pick n'' Sledgetrail. Follow this for 0.9 miles until it branches with the
        Grubstakeloop. Take a right onto Grubstake and follow it as it winds aroundthe
        mountain and you start going south again. When you see the Sluiceboxtrail,
        take it down to Apex trail. Once back on Apex, take a rightand go up the gulch.
        Once you get to the Enchanted forest trailhead,you have 2 options. This point
        is the bottom of a loop, so you caneither keep going up Apex and decend the
        Enchanted Forest, or doit in reverse. Either way there are steep uphills and
        fun downhills.  Once you finish the loop, get back on Apex and decend to the
        parking lot.","name":"Apex Park","rank":"0","rating":"4.27","thumbnail":"http:\/\/images.singletracks.com\/2014\/10\/G0057937.jpg","activity_type":"5","activity_type_name":"mountain
        biking","attribs":{"length":"8","nightride":"1"},"place_activity_id":"936395"}}},"685":{"name":"Bear
        Creek Regional Park","city":"Colorado Springs","state":"Colorado","country":"United
        States","description":"This place has some good hills and wide trails. Alot
        of hikers and joggers use these trails, not to mention the people with the
        dogs. There is some singletrack here that is closed to bikes but is well worth
        the ride if you are feeling gnarley. Use these trails to connect with Gold
        Camp Rd. and Captain Jack''s fo[...]
