---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<geocode_api_key>&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 5dc09a39-de62-41a5-8d5a-d5424455fa05
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24965'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.256'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.740959,"longitude":-104.985798,"type":"locality","name":"Denver","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":"Denver","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver,
        CO, USA","map_url":"https:\/\/map.positionstack.com\/export\/embed.html?bbox=-105.109967,39.614311,-104.599581,39.914209\u0026layer=mapnik\u0026marker=39.740959,-104.985798"},{"latitude":39.741107,"longitude":-104.98702,"type":"county","name":"Denver
        County","number":null,"postal_code":null,"street":null,"confidence":0.4,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":null,"administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"US[...]
